/* COLORS */
$blue = #367FFA;
$purple = #5D66D3;
$darkBlue =#353A85;
$darkPurple= #443C5F
$green = #35A64C;
$red = #FC2102;
$darkGrey = #585655;
$grey = #9CA2A8
$lightGrey = #E1E3E6;

$primary = $purple;
$primaryShadow = $darkPurple;
$secondary = $blue;

/* SPACING */
$spacingXS = 5px;
$spacingS = 10px;
$spacingM = 15px;
$spacingL = 25px;
$spacingXL = 35px;

